* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: "Overpass", sans-serif;
      text-decoration: none;
}
:root {
      --Orange: hsl(25, 97%, 53%);
      --White: hsl(0, 0%, 100%);
      --Light_Grey: hsl(217, 12%, 63%);
      --Medium_Grey: hsl(214, 12%, 24%);
      --Dark_Blue: hsl(213, 19%, 18%);
      --Very_Dark_Blue: hsl(216, 12%, 8%);
}
body {
      background: var(--Very_Dark_Blue);
}
.content {
      margin: 200px auto;
      border-radius: 20px;
      background-color: var(--Dark_Blue);
      width: 500px;
      padding: 10px 20px;
}
.content_logo {
      width: 40px;
      height: 40px;
      background-color: var(--Medium_Grey);
      border-radius: 100%;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
}
.content_logo img {
      object-fit: contain;
      width: 20px;
}
.content_text {
      margin-bottom: 30px;
}
.content_text h2 {
      color: var(--White);
      font-weight: bold;
      padding-bottom: 10px;
}
.content_text p {
      color: var(--Light_Grey);
      font-size: 16px;
}
.content_number {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 30px;
}
.number {
      background-color: var(--Medium_Grey);
      border-radius: 100%;
      width: 40px;
      height: 40px;
      color: var(--Light_Grey);
      display: flex;
      justify-content: center;
      align-items: center;
}
.content_btn {
      width: 80%;
      background-color: var(--Orange);
      border-radius: 20px;
      display: flex;
      justify-content: center;
      margin: 20px auto;
      padding: 12px 0;
      box-shadow: 2px 2px 10px var(--Orange);
      transition: all 0.5s ease;
}
.content_btn a {
      color: var(--White);
      font-weight: bold;
}
.content_btn:hover {
      transform: scale(1.1);
}
