.home {
      width: 100%;
}
.home_container_Products {
      margin: 0 auto;
      width: 80%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 4px;
}
.card_product {
      width: 250px;
      border: 1px solid black;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 4px;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
}
.card_product:hover {
      transform: scale(1.04);
}
.card_product hr {
      width: 100%;
}
.card_product_img {
      display: flex;
      justify-content: center;
}
.card_product_img img {
      object-fit: contain;
      width: 200px;
      height: 200px;
}
.card_product h3 {
      padding: 10px;
}
.card_product_footer {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding-bottom: 10px;
}
.card_product_footer i {
      font-size: 24px;
      background: var(--main_color);
      border-radius: 50%;
      padding: 10px;
      color: white;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
}
.card_product_footer i:hover {
      transform: translateY(-5px);
}
.product_footer_text h4 {
      color: var(--text_secondary);
}
.product_footer_text span {
      font-weight: bold;
}
